div.header {
	background-color: #074e67;
	border-radius: 10px;
	margin: 5px;
}

div.widget_header {
	background-color: #eeeeee;
	color: #000000;
	border-radius: 10px 10px 0 0;
	margin: 5px 5px 0 5px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

div.widget_header_var {
	display: inline;
}

img.arrow_down {
	vertical-align: middle;
	height: 20px;
	fill: #abcdef;
	color: #05878a;
}

img.arrow_down.right {
	transform: rotate(-90deg);
}

button {
	display: inline;
	width: 30px;
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
}

div.chat {
	display: flex;
	padding: 2px;
	margin: 0 5px 0 5px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

div.chat.chat_in {
	justify-content: flex-end;
}

div.chat.chat_out {
	justify-content: flex-start;
	background-color: #fcfcfc;
}

div.contacts_list {
	display: block;
	max-height: 200px;
	overflow-y: overlay;
}

div.contacts_list::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

div.contacts_list::-webkit-scrollbar-thumb {
    background: #eeeeee;
}

div.id_container {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	margin: 0 5px 0 5px;
	padding: 2px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

div.id_container.even {
	background-color: #fcfcfc;
}

div.id_container_footer {
	margin: 0 5px 0 5px;
	border-bottom: 1px solid #eeeeee;
}

div.id_controls {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

div.menu {
	background-color: #ffffff;
	color: #000000;
	display: flex;
	justify-content: space-between;
	margin: 0 5px 0 5px;
	padding: 5px 2px 5px 2px;
	justify-content: flex-end;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

img.chat {
	max-width: 70%;
}

img.logo {
	width: 96px;
}

input {
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
}

input.message {
	width: 60%;
}

select {
	display: inline;
	margin-right: 5px;
	padding: 5px;
	border-radius: 5px;
}

select.message_type {
	width: 20%;
}

span {
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

span.container {
	width: 15%;
	padding: 5px;
	margin: 5px;
	border-radius: 0px;
	display = "inline-flex";
}

span.container_0 {
	padding: 0px;
	margin: 0px;
	border-radius: 0px;
	display = "inline-flex";
}

span.datetime {
	font-size: 12px;
}

span.id_name {
	width: 50%;
	text-align: center;
	
	border: 1px solid #05878a;
}

span.id_contact {
	width: 50%;
	text-align: center;
	
	border: 1px solid #05878a;
}

span.id_contact.not_accessible_c {
	color: #dddddd;
	border-color: #878787;
}

span.selected_i {
	font-weight: bold;
	border: 1px solid #05878a;
}

span.selected_c {
	font-weight: bold;
	border: 1px solid #05878a;
}

textarea {
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
	max-width: 200px;
}